/*------ COLORS DEFINED BY DEVELOPER ---------------------------------------------------------------------------------*/
//insert your colors here
//more colors at https://brandcolors.net/

$codeflugel-white: #ffffff;
$codeflugel-blue: #154853;
$codefluegel-blue-faded: #89a2a8;
$codeflugel-white-transparent-90: rgba(255, 255, 255, 0.9);
$codeflugel-blue-transparent-30: rgba(21, 72, 83, 76);
$codeflugel-blue-transparent-50: rgba(21, 72, 83, 127);
$codeflugel-blue-transparent-90: rgba(21, 72, 83, 229);
$codeflugel-yellow: #d6ad00;
$codeflugel-yellow-faded: #f3e6b2;
$codeflugel-white: #efefef;
$codeflugel-dark-gray: #707070;
$codeflugel-light-gray: #efefef;
$codeflugel-gray: #b9b9b9;
$codeflugel-block-gray: #f0f0f0;
$codefluegel-dotwhite: #eaf4f6;
$codefluegel-destblock: #e3e3e3;
$codefluegel-quoteblock-gray: #fafafa;
